<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edson.appprojetocampanha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <receiver android:name=".SmsReceiver">
        <intent-filter>
            <action android:name="android.provider.Telephony.SMS_RECEIVED" />
        </intent-filter>
    </receiver>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Solidariedade"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Solidariedade"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaInicialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CriarContaActivity"
            android:parentActivityName=".TelaInicialActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".TelaInicialActivity"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".AlteracaoDadosActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AfinidadesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DoacoesActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>